<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CASE</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<style>



</style>
</head>
<body>

 
    <div class="col-md-12">

        <div class="row"><h3>Пользователи</h3></div>


        <table id ="example" class="table table-striped table-bordered" style="width: 120%;">
            <thead>
              <tr>
                 <td>Идентификатор</td>
                 <td>Имя</td>
                 <td>Фамилия</td>
                 <td>Отчество</td>
                 <td>Дата рождения</td>
                 <td>Место работы</td>
                 <td>Время отправки</td>
              </tr>
            </thead>
            <tbody>
             {% for row in list %}
             <tr>
                 <td>{{row.id}}</td>
                 <td>{{row.first_name}}</td>
                 <td>{{row.last_name}}</td>
                 <td>{{row.surname}}</td>
                 <td>{{row.birth_date}}</td>
                 <td>{{row.place_work}}</td>
                 <td>{{row.time.creation_date}}</td>
             </tr>
             {% endfor %}
         </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#example').DataTable({     
               "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
                  "iDisplayLength": 3
                } 
              );
        }  );
  
      </script>
</body>