<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SelectionCars</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<style>


</style>
</head>
<body class="d-flex h-5 text-center text-white bg-dark">

    <div class="container">
      <main> 
        <div>
        <h1>Данные успешно отправлены.</h1>
        </div>

        <div>
        <p class="lead">Спасибо что выбрали наш сервис</p>
        </div>

        <div>
            <p class="lead">
                <a href="/" type="button" class="btn btn-secondary">Вернуться обратно к форме</a>
            </p>
        </div>
     </main> 
    
    
</div>


    
</body>
</html>